.venv/
agents/.env
__pycache__
.env
.cursorrules
temp.json
temp.py 
temp2.py
temp.html
data/
env/
venv/
agents/**/*.ipynb
t.py
evals.txt
.env.sample
.vscode/
test_bbb*.csv 
ht.ipynb
task.md
setup.txt
setup.txt
